<form method="get" id="search" action="https://duckduckgo.com/">
   <input type="hidden" name="sites" value="getdrafts.com,actions.getdrafts.com,forums.getdrafts.com"/>
   <input type="hidden" name="ka" value="h"/>
   <input type="hidden" name="k7" value="#fafafa"/>
   <input type="hidden" name="kj" value="#3f3f3f"/>
   <input type="hidden" name="ky" value="#fafafa"/>
   <input type="hidden" name="kx" value="b"/>
   <input type="hidden" name="kt" value="Helvetica"/>
   <input type="text" class="search" name="q" size="8" maxlength="255" style='background-color:#5B6780;border:none;color:white;border-radius:6px;padding:4px 8px;opacity:.9;margin: .5em 0 .5em .5em;' placeholder="Search"/>
   <button name="button" type="submit" title="Search" style="background-color:transparent;border:none;">
     <img src="/images/search.svg" style="vertical-align:middle;"/>
   </button>
</form>
